<h1> View Models </h1>
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sketchfab Viewer API example</title>

    <!-- Insert this script -->
    <script type="text/javascript" src="https://static.sketchfab.com/api/sketchfab-viewer-1.0.2.js"></script>
</head>

<body>
    <!-- Insert an empty iframe -->
    <iframe src="https://sketchfab.com/models/b57a6c5fcbc04b2daf1bc51043a82187/embed" id="api-frame" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" width="1135px" height="600px"></iframe>

    <!-- Initialize the viewer -->
    <script type="text/javascript">
    var iframe = document.getElementById( 'api-frame' );
    var urlid = 'b57a6c5fcbc04b2daf1bc51043a82187';

    // By default, the latest version of the viewer API will be used.
    var client = new Sketchfab( iframe );

    // Alternatively, you can request a specific version.
    // var client = new Sketchfab( '1.0.0', iframe );

    client.init( urlid, {
        success: function onSuccess( api ){
            api.start();
            api.addEventListener( 'viewerready', function() {

                // API is ready to use
                // Insert your code here
                console.log( 'Viewer is ready' );

            } );
        },
        error: function onError() {
            console.log( 'Viewer error' );
        }
    } );
    </script>
</body>
</html>